@import "tailwindcss";

@font-face {
  font-family: SatoshiMedium;
  src: url("./assets/Fonts/Satoshi-Medium.otf");
}
@font-face {
  font-family: SatoshiSemiBold;
  src: url("./assets/Fonts/Satoshi-Bold.otf");
}

.bg-purple-gradient {
  background: linear-gradient(180deg, #a128ff 0%, #6100ad 113.79%);
}
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
